{#% extends 'VGWebBundle::layout.html.twig' %#}

{% extends '::base.html.twig' %}

{% block title %}Авторизация{% endblock %}



        {% block content %}
            <h1>Login</h1>
            <div>
                <form action="{{ path('check_path') }}" method="POST">
                    <div class="form-group">
                        <input type="text" class="input_login form-control" id="username"
                               placeholder="{% trans %}Email {% endtrans %}"
                               name="_username"/>
                    </div>

                    <div class="form-group">
                        <input type="password" class="input_login form-control" id="password"
                               placeholder="{% trans %}Password {% endtrans %}"
                               name="_password"/>
                    </div>

                    {% if error %}
                        <div style="color:red" class="form-group">
                            {{ error.message | replace({
                                'Bad credentials': 'Invalid login/password'
                            }) }}
                        </div>
                    {% endif %}

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                            >
                    <input type="submit" class="add_button btn btn-primary" id="enter_button" name="login"
                           value="{% trans %}Sign in {% endtrans %}"/>
                </form>
            </div>


        {% endblock %}


