{#% extends 'VGWebBundle::layout.html.twig' %#}

{% extends '::base.html.twig' %}

{% block title %}{% endblock %}



        {% block content %}
            <h1>Add</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endblock %}
