{#% extends 'VGWebBundle::layout.html.twig' %#}

{% extends '::base.html.twig' %}

{% block title %}{% endblock %}

        {% block content %}
            <a href="{{ path('twitter_default_add') }}" class="btn btn-primary">Твіт</a>
            <h1>{{ hashtag }}</h1>
            <ul>
                {% for message in messages %}
                    <li>{{ message.text|raw }}</li>
                {% endfor %}
            </ul>
        {% endblock %}
